body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  position: relative;
  overflow: hidden;
  background-color: #444;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 12px 15px;
  text-decoration: none;
  font-size: 18px;
}

.topnav a:hover {
  border-radius: 25px;
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  border-radius: 25px;
  background-color: rgba(150,150,150,0.5);
  color: white;
}

.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.topnav-right {
  float: right;
}

/* 响应式导航菜单（适用于移动设备）*/
@media screen and (max-width: 600px) {
  .topnav a, .topnav-right {
    float: none;
    display: block;
  }
  
  .topnav-centered a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
}

.flex-container .box {
  border-radius: 25px;
  background-color: rgba(150,150,150,0.5);
  width: 100%;
  margin: 50px;
  text-align: center;
  line-height: 30px;
  font-size: 20px;
}
