
body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: rgba(150,150,150,0.5);
  padding: 10px 10px;
         position: fixed;
    border-radius: 0 0 25px 0;
border: 3px solid white;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 6px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 10px;

}

.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  background-color: rgba(150,150,150,0.5);
  color: white;
}

.active {
  background-color: #4CAF50;
  color: white;
}

.flex-container {

  display: flex;
  flex-wrap: nowrap;
Justify-content: flex-end
}

.flex-container .box {
  border-radius: 25px;
  background-color: rgba(100,100,100,0.5);
  width: 100%;
  margin: 10px;
  text-align: center;
  line-height: 30px;
  font-size: 20px;
border: 3px solid white;
}