a{

text-decoration: none;
color:white
}

.chip {
  display: inline-block;
  padding: 0 25px;
  height: 55px;
  font-size: 18px;
  line-height: 27.5px;
  border-radius: 25px;
  background-color: rgba(5,5,5,0.5);
}

.chip img {
  float: left;
  margin: 0 10px 0 -25px;
  height: 55px;
  width: 55px;
  border-radius: 50%;
}