.fixed-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
  padding: 10px;
  text-align: center;
}
* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  overflow: hidden;
  background-color: rgba(5,5,5,0.5);
  padding: 10px 10px;
         position: fixed;
    border-radius: 0px 0px 25px 0px;
  
}

.header {
  float: left;
  color: white;
  text-align: center;
  padding: 6px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 10px;
}

.header logo {
  font-size: 20px;
  font-weight: bold;
  outline: none; 
border: 0; 
}

.header a:hover {
  background-color: rgba(150,150,150,0.5);
  color: #fff;
}

.header a.active {
  background-color: #fff;
  color: white;
}

.header-right {
  float: right;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
Justify-content: flex-end
}

.flex-container .box {
  border-radius: 25px;
  background-color: rgba(150,150,150,0.5);
  width: 55%;
  margin: 10px;
  text-align: center;
  line-height: 30px;
  font-size: 20px;
}

#mySidenav input {
  position: absolute;
  left: -80px;
  transition: 0.3s;
  padding: 15px;
  width: 110px;
  text-decoration: none;
  font-size: 20px;
  color: white;
         position: fixed;
  background-color: rgba(5,5,5,0.5);
outline: none; 
border: 0; 
}

#mySidenav input:hover {
  left: 0;

}

#bg0 {
  top: 94px;
}
#bg1 {
  top: 150px;
}
#bg2 {
  top: 206px;
  border-radius: 0 0 20px 0;
}
